<a href="https://colab.research.google.com/github/ruin9106/computational-thinking/blob/master/week14%E9%84%AD%E8%8C%B9%E5%B0%B9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
start = int(input("請輸入加總開始值?"))
end = int(input("請輸入加總終止值?"))
step = int(input("請輸入地增減值?"))

sum = 0
for i in range(start, end, step):
    sum = sum+i
    print("i為", i, "時，累加結果", sum)

請輸入加總開始值?2
請輸入加總終止值?10
請輸入地增減值?2
i為 2 時，累加結果 2
i為 4 時，累加結果 6
i為 6 時，累加結果 12
i為 8 時，累加結果 20

In [13]:
sheet = ['牛奶', '蛋', '咖啡豆']
for index in [0,1,2,]:
    print(index)

sheet = ["牛奶", "蛋", "咖啡豆"]   
for index in sheet:
    print(index)

sheet = ['牛奶', '蛋', '咖啡豆']
for index in [0,1,2,]:
    print(index, sheet[index])

sheet = ['牛奶', '蛋', '咖啡豆']
for index in range(0,len(sheet)):
    print(index, sheet[index])

0
1
2
牛奶
蛋
咖啡豆
0 牛奶
1 蛋
2 咖啡豆
0 牛奶
1 蛋
2 咖啡豆

In [16]:
for i in range(1,10):
    for j in range(1,10):
     print(i, '*', j, '=', i*j, '\t', sep='',end='')
    print()

1*1=1	1*2=2	1*3=3	1*4=4	1*5=5	1*6=6	1*7=7	1*8=8	1*9=9
2*1=2	2*2=4	2*3=6	2*4=8	2*5=10	2*6=12	2*7=14	2*8=16	2*9=18
3*1=3	3*2=6	3*3=9	3*4=12	3*5=15	3*6=18	3*7=21	3*8=24	3*9=27
4*1=4	4*2=8	4*3=12	4*4=16	4*5=20	4*6=24	4*7=28	4*8=32	4*9=36
5*1=5	5*2=10	5*3=15	5*4=20	5*5=25	5*6=30	5*7=35	5*8=40	5*9=45
6*1=6	6*2=12	6*3=18	6*4=24	6*5=30	6*6=36	6*7=42	6*8=48	6*9=54
7*1=7	7*2=14	7*3=21	7*4=28	7*5=35	7*6=42	7*7=49	7*8=56	7*9=63
8*1=8	8*2=16	8*3=24	8*4=32	8*5=40	8*6=48	8*7=56	8*8=64	8*9=72
9*1=9	9*2=18	9*3=27	9*4=36	9*5=45	9*6=54	9*7=63	9*8=72	9*9=81